{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>

<body>
    {% block main %}
    {% endblock %}
    <script src="{% static 'js/materialize.min.js' %}"></script>
</body>

</html>