{% extends "polls/base.html" %}

{% block main %}
    <h1 align="center">{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class='center'>
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <p>
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                </p> 
                <p>
                {% comment %} <label for="choice{{ forloop.counter }}">
                    <input name="group1" type="radio" />
                    <span>{{ choice.choice_text }}</span>
                </label> {% endcomment %}
                </p>

        {% comment %} <p>
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}>
            <input class="with-gap" name="choice" type="radio" />
            <span>{{ choice.choice_text }}</span>
        </label>
        </p> {% endcomment %}

            {% endfor %}
            <input type="submit" value="Vote">
        </form>
    </div>

{% endblock main %}