/* li a {
    color: green;
} */

body {
    height: 100vh;
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    
    /* background-size: 100% 100%; */
}

a:link, a:visited {
    /* background-color: #f44336; */
    color: rgb(17, 8, 8);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #171724;
    font-family: verdana;
    font-size: 300%;
}

input[type=button], input[type=reset], input[type=submit] {
    background-color: #251e2c9f;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 6px 14px;
    text-decoration: none;
    margin: 5px 4px;
    cursor: pointer;  
}
/* 
form{
} */

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}